@media only screen and (max-width: 768px)
{
    .logo {
        border-radius: 10px 10px 0 0;
    }
    img {
        width: 120px;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        opacity: 1;
    }
    .dim {
        width: 120px;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        opacity: 0;
    }
    .text p, i {
        font-size: 16px;
    }
    .row {
        max-width: 420px;
        width: 100%;
    }
}

